body{
    font-family: 'Shippori Mincho B1', serif;
}
.lavande{
    z-index: 2;
}
.titre{
    font-size: 28px;
    margin: 0px;
}
.titreEsp{
    font-size: 30px;
    margin: 0px;
}
.header{
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    display: flex;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 50px;
}
.compteAReb{
    display: flex;
    z-index: 2;
    flex-direction: row;
    padding: 30px;
    background-color: #183f28;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.bloc1{
    display: flex;
}
#jours{
    color: white;
    border: 1px solid white;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font: 'Source Sans Pro', sans-serif;
}
.jours{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}
#heures{
    color: white;
    border: 1px solid white;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.heures{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}
#min{
    color: white;
    border: 1px solid white;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.min{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}
#sec{
    color: white;
    border: 1px solid white;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.sec{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.navLeft ul{
    display: flex;
    margin-top: 52px;
    list-style: none;
    flex-direction: row;
}
.navLeft ul li {
    padding: 0 50px 0 50px;
}
.navLeft ul a{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    text-decoration: none;
}
.navRight{
    justify-content: space-between;
}
.navRight ul{
    display: flex;
    margin-top: 52px;
    list-style: none;
    flex-direction: row;
}
.navRight ul li {
    padding: 0 50px 0 50px;
}
.navRight ul a{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    text-decoration: none;
}
.mainHeader{
    text-align: center;
    display: flex;
    z-index: 3;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}
.saveTheDate{
    font-size: 40px;
    padding: 0px 15px 10px 15px;
}
.blocCaR{
    display: flex;
}
.secondaryHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.header2{
    /* margin-top: 300px; */
    display: flex;
    flex-direction: column;
}
.blocSTD{
    text-align: center;
    z-index: 2;
}
.date{
    font-size: 20px;
}
.fas{
    color: black;
}
.chevron{
    width: 3%;
    z-index: 2;
    padding-top: 35px;
}
.allInfo{
    text-align: center;
}
.emoji{
    width: 10%;
}
.hebergement1{
    border: 1px solid black;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}
/* Animations*/
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 180px;
}
#background:fullscreen{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ffff;
    overflow: hidden;
    background-image: url("../img/lavande.png");
    background-repeat: no-repeat;
    background-position: center 200px;
    background-size: 10%;
}
#background span {
    position: absolute;
    z-index: 1;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #183f28;
    animation: animate 18s linear infinite;
}

#background span:nth-child(0) {
    left: 65%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 1s;
    opacity: 0;
}
#background span:nth-child(1) {
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 3s;
    opacity: 0;
}
.background span:nth-child(2) {
    left: 72%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 1s;
    opacity: 0;
}
#background span:nth-child(3) {
    left: 47%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 3s;
    opacity: 0;
}
#background span:nth-child(4) {
    left: 20%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 14s;
    opacity: 0;
}
#background span:nth-child(5) {
    left: 72%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 12s;
    opacity: 0;
}
#background span:nth-child(6) {
    left: 40%;
    width: 104px;
    height: 104px;
    bottom: -104px;
    animation-delay: 18s;
    opacity: 0;
}
#background span:nth-child(7) {
    left: 61%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 34s;
    opacity: 0;
}
#background span:nth-child(8) {
    left: 54%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 27s;
    opacity: 0;
}
#background span:nth-child(9) {
    left: 38%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 44s;
    opacity: 0;
}
#sections{
    padding-top: 50px;
}
#programme h2{
    font-size: 90px;
    margin-top: 0;
    z-index: 2;
    padding-right: 180px;
    margin-top: -30px;
}
.photoPrgm{
    float: right;
}
#section1{
    display: flex;
    justify-content: flex-end;
}
#section1 img{
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    padding-right: 100px;
    padding-top: 100px;
}
.backgroundBlock{
    z-index: -1;
    width: 650px;
    height: 500px;
    background-color: #F9F0EA;
    position: absolute;
}
.sectionTitre{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
#section11{
    display: flex;
    padding-top: 160px;
    align-items: center;
}
#section11 img{
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    padding-right: 100px;
    padding-top: 100px;
}
.bold{
    font-weight: bold;
}
.prgmText{
    text-align: left;
    margin-left: -200px;
}
.trait{
    transform: rotate3d(0, 0, 1, 160deg);
    border: 1px solid rgba(127,120,114,.2);
}
.prgmText2{
    margin-left: 500px;
}

/* *********** SECTION 2 **************/

#section2 {
    display: flex;
    /* align-items: center; */
    margin-top: 120px;
}
#section2 h2{
    margin-top: 40px;
    font-size: 90px;
    z-index: 2;
}
.infoText{
    display: flex;
    align-self: baseline;
    margin-left: auto;
}
.backgroundBlockInfo{
    z-index: 0;
    width: 800px;
    background-color: #F9F0EA;
    position: relative;
    margin-top: -200px;
    margin-left: 15%;
    padding: 20px;
}

/************* SECTION 3 *********/
#section3 h2{
    position: relative;
    font-size: 90px;
    z-index: 2;
}
#zoneCanvas{
    z-index: 0;
    position: absolute;
}
/* ************** MEDIA QUERIES ***************/

@media (min-width:1920px){
    .blocSTD{
        margin-top: 80px;
    }
    .allInfo{
        margin-top: 120px;
    }
}
