.titre{
    margin: 0px;
}
.titreEsp{
    margin: 0px;
}
.header{z-index: 0;
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    display: flex;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 70px;
}
.compteAReb{
    display: flex;
    z-index: 2;
    flex-direction: row;
    padding: 50px;
    background-color: #183f28;
    border-radius: 10px;
    margin-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
.bloc1{
    display: flex;
}
body{
    background-image: url("../img/lavande.png");
    background-repeat: no-repeat;
    background-position: center 420px;
    font-family: 'Shippori Mincho B1', serif;
    margin: 0px 40px 0px 40px;
}
#jours{
    color: white;
    border: 1px solid white;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font: 'Source Sans Pro', sans-serif;
}
.jours{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
}
#heures{
    color: white;
    border: 1px solid white;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.heures{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
}
#min{
    color: white;
    border: 1px solid white;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.min{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
}
#sec{
    color: white;
    border: 1px solid white;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.sec{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.navLeft ul{
    display: flex;
    margin-top: 52px;
    list-style: none;
    flex-direction: row;
}
.navLeft ul li {
    padding: 0 50px 0 50px;
}
.navLeft ul a{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    text-decoration: none;
}
.navRight{
    justify-content: space-between;
}
.navRight ul{
    display: flex;
    margin-top: 52px;
    list-style: none;
    flex-direction: row;
}
.navRight ul li {
    padding: 0 50px 0 50px;
}
.navRight ul a{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    text-decoration: none;
}
.mainHeader{
    text-align: center;
    display: flex;
}