.titre{
    font: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
.titreEsp{
    margin: 0px;
}
.header{
    text-align: center;
}
.logo{
    display: flex;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 70px;
}
.compteAReb{
    display: flex;
    z-index: 2;
    flex-direction: column;
    padding: 50px;
    border: 1px solid black;

}
.bloc1{
    display: flex;
}
body{
    background-image: url("../img/lavande.png");
    background-repeat: no-repeat;
    background-position: center 300px;
}
#jours{
    border: 1px solid black;
}
#heures{
    border: 1px solid black;
}
#min{
    border: 1px solid black;
}
#sec{
    border: 1px solid black;
}